version: 2
updates:
  # Enable version updates for npm
  - package-ecosystem: "npm"
    # Look for `package.json` and `lock` files in the `root` directory
    directory: "/"
    # Check for updates once a week
    schedule:
      interval: "weekly"
    # Raise pull requests for version updates
    # to npm against the `main` branch
    target-branch: "main"
    # Labels on pull requests for version updates
    labels:
      - "dependencies"
      - "automated"
    # Allow up to 10 open pull requests for dependencies
    open-pull-requests-limit: 10

  # Enable version updates for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    target-branch: "main"
    labels:
      - "dependencies"
      - "automated"
    open-pull-requests-limit: 10 